vendor/
node_modules/
npm-debug.log

public/storage
public/hot
storage/*.key
.env.*.php
.env.php
.env
Homestead.yaml
Homestead.json

#composer.json
composer.lock
composer.phar
access.log
error.log
deploy.php
deplog
